.buscador {
    display: inline;
    position: relative;
    top: -91px;
    right: -40px;
    width: 50px;
}

.buscador_text {
    background-color: rgba(0,0,0,.2);
    border-radius: 20px;
    border: 0;
    margin-bottom: 0;
    padding: 9px 50px;
    color: #ffffff75;
}

.buscador :focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.44);
}

.buscador_button_disabled {
    border-radius: 20px;
    height: 33px;
    position: relative;
    right: 56px;
    background-color: rgba(216, 246, 246, 0.243);
}

.buscador_button {
    border-radius: 20px;
    cursor: pointer;
    height: 33px;
    position: relative;
    right: 56px;
    background-color: #19feff;
}
